.cont {
    width          : 100%;
    height         : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
    gap            : 1rem;

    button {
        box-shadow: none;
        animation : slideIn 1.5s;

        &:focus {
            box-shadow: none;
        }

        &.high {
            animation: slideIn2 1.5s;
        }
    }
}